@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Montserrat:400,500,700';


html,

body {
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
}

footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

/* Nav bar */

 nav ul {
  position: fixed;
  text-align: right;
  width: 100%;
  background-color: white; /* fallback color*/
  background-color: #Fff;
  font-family: "comfortaa",sans-serif;
  font-size: 1.2em;
}

nav ul li {
  display: inline-block;
  margin: 30px;
}

nav ul li a {
  color: tomato; /* fallback color */
  color: rgba(242, 142, 107,1);
  text-decoration: none;
}
nav ul li a:hover {
  color: blue; /* fallback color */
  color: rgba(138, 210, 215, 1);
}

/* Nav bar g4db*/

 nav_g4db ul {
  position: fixed;
  text-align: right;
  width: 100%;
  background-color: white; /* fallback color*/
  background-color: #Fff;
  font-family: "comfortaa",sans-serif;
  font-size: 1.2em;
}

nav_g4db ul li {
  display: inline-block;
  margin: 30px;
}

nav_g4db ul li a:link {
  color: black; /* fallback color */
  color: rgba(24, 157, 217, 1);
  text-decoration: none;
}

nav_g4db ul li a:hover {
  color: black; /* fallback color */
  color: rgba(70,55,45,1);
}

/* Nav bar oligor*/

 nav_oligor ul {
  position: fixed;
  text-align: right;
  width: 100%;
  background-color: white; /* fallback color*/
  background-color: #Fff;
  font-family: "comfortaa",sans-serif;
  font-size: 1.2em;
}

nav_oligor ul li {
  display: inline-block;
  margin: 30px;
}

nav_oligor ul li a:link {
  color: black; /* fallback color */
  color: rgba(24, 157, 217, 1);
  text-decoration: none;
}

nav_oligor ul li a:hover {
  color: black; /* fallback color */
  color: rgba(70,55,45,1);
}

/* welcome */

#welcome-section {
  top: 20;
  line-height: 1.6;
  background: white; /* fallback color*/
  background: rgba(138, 210, 215, 0.35);
  min-height: 55vh;
  padding-top: 15vh;
  padding-bottom: 25vh;
  text-align: center
}

.welcome-section h1 {
  color: tomato; /* fallback color */
  color: rgba(242, 142, 107,1)
}

.welcome-section h2 {
  color: tomato; /* fallback color */
  color: rgba(242, 142, 107,1)
}

.welcome-section h3 {
  color: tomato; /* fallback color */
  color: rgba(242, 142, 107,1)
}

.welcome-section a:link {
  color: tomato; /* fallback color */
  color: rgba(242, 142, 107,1)
}

.welcome-section a:hover {
  color: green; /* fallback color */
  color: rgba(178,212,89,1);
}

.welcome-section a:visited {
  color: green; /* fallback color */
  color: rgba(105,102,174,1);
}

/* g4db section */

#g4db {
  top: 20;
  line-height: 1.6;
  background: white; /* fallback color*/
  background: rgba(24, 157, 217, 0.35);
  min-height: 55vh;
  padding-top: 15vh;
  padding-bottom: 25vh;
  text-align: center
}

.g4db ul {
 -webkit-column-count: 3;
 -ms-column-count: 3;
 -moz-column-count: 3;
 -o-column-count: 3;
  column-count: 3;
  width:25%;
  text-align: center;
  -webkit-column-rule: 1px solid rgba(70,55,45,1);
  -moz-column-rule: 1px solid rgba(70,55,45,1);
  -ms-column-rule: 1px solid rgba(70,55,45,1);
  column-rule: 1px solid rgba(70,55,45,1);
  margin-left: auto;
  margin-right: auto;
  list-style-type: none
} 

.g4db h1 {
  color: black; /* fallback color */
  color: rgba(70,55,45,1)
}

.g4db h2 {
  color: black; /* fallback color */
  color: rgba(70,55,45,1)
}

.g4db h3 {
  color: black; /* fallback color */
  color: rgba(70,55,45,1)
}

.g4db a:link {
  color: black; /* fallback color */
  color: rgba(70,55,45,1)
}

.g4db a:hover {
  color: black; /* fallback color */
  color: rgba(95,146,87,1);
}

.g4db a:visited {
  color: black; /* fallback color */
  color: rgba(95,146,87,1);
}

/* oligor section */

#oligor {
  top: 20;
  line-height: 1.6;
  background: white; /* fallback color*/
  background: rgba(24, 157, 217, 0.35);
  min-height: 55vh;
  padding-top: 15vh;
  padding-bottom: 25vh;
  text-align: center
}

.oligor ul {
 -webkit-column-count: 3;
 -ms-column-count: 3;
 -moz-column-count: 3;
 -o-column-count: 3;
  column-count: 3;
  width:25%;
  text-align: center;
  -webkit-column-rule: 1px solid rgba(70,55,45,1);
  -moz-column-rule: 1px solid rgba(70,55,45,1);
  -ms-column-rule: 1px solid rgba(70,55,45,1);
  column-rule: 1px solid rgba(70,55,45,1);
  margin-left: auto;
  margin-right: auto;
  list-style-type: none
} 

.oligor h1 {
  color: black; /* fallback color */
  color: rgba(70,55,45,1)
}

.oligor h2 {
  color: black; /* fallback color */
  color: rgba(70,55,45,1)
}

.oligor h3 {
  color: black; /* fallback color */
  color: rgba(70,55,45,1)
}

.oligor a:link {
  color: black; /* fallback color */
  color: rgba(70,55,45,1)
}

.oligor a:hover {
  color: black; /* fallback color */
  color: rgba(95,146,87,1);
}

.oligor a:visited {
  color: black; /* fallback color */
  color: rgba(95,146,87,1);
}


/* dropdown */

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown_g4db {
  float: right;
  overflow: hidden;
}

.dropdown_oligor {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn nav ul li a {
  display: inline-block;
  margin: 30px;
}

.dropdown_g4db .dropbtn nav ul li a {
  display: inline-block;
  margin: 30px;
}

.dropdown_oligor .dropbtn nav ul li a {
  display: inline-block;
  margin: 30px;
}

.dropdown .dropbtn {
  font-size: 1em;  
  border: none;
  outline: none;
  color: tomato;
  color: rgba(242, 142, 107,1);
  padding: 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 30px;
}

.dropdown_g4db .dropbtn {
  font-size: 1em;  
  border: none;
  outline: none;
  color: tomato;
  color: rgba(242, 142, 107,1);
  padding: 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 30px;
}

.dropdown_oligor .dropbtn {
  font-size: 1em;  
  border: none;
  outline: none;
  color: tomato;
  color: rgba(242, 142, 107,1);
  padding: 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 30px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: blue;
  color: rgba(138, 210, 215, 1);
}

.navbar a:hover, .dropdown_g4db:hover .dropbtn {
  background-color: white;
  color: blue;
  color: rgba(138, 210, 215, 1);
}


.navbar a:hover, .dropdown_oligor:hover .dropbtn {
  background-color: white;
  color: blue;
  color: rgba(138, 210, 215, 1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  background-color: rgba(255,255,255,0.75);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(242, 142, 107, 0.25);
  z-index: 1;
}

.dropdown_g4db-content {
  display: none;
  position: absolute;
  background-color: white;
  background-color: rgba(255,255,255,0.75);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(70,55,45, 0.25);
  z-index: 1;
}

.dropdown_oligor-content {
  display: none;
  position: absolute;
  background-color: white;
  background-color: rgba(255,255,255,0.75);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(70,55,45, 0.25);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: tomato;
  color: rgba(242, 142, 107,1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_g4db-content a {
  float: none;
  color: black;
  color: rgba(70,55,45,1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_oligor-content a {
  float: none;
  color: black;
  color: rgba(70,55,45,1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: blue;
  background-color: rgba(138, 210, 215, 0.35);
}

.dropdown_g4db-content a:hover {
  background-color: blue;
  background-color: rgba(24, 157, 217, 0.35);
}

.dropdown_oligor-content a:hover {
  background-color: blue;
  background-color: rgba(24, 157, 217, 0.35);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown_g4db:hover .dropdown_g4db-content {
  display: block;
}

.dropdown_oligor:hover .dropdown_oligor-content {
  display: block;
}




