---
---
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>oligor</title>

  {% include analytics.html %}

  {% include head-css.html %}

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="css/new-age.min_oligor.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="nav-link js-scroll-trigger" href="index.html">
        <i class="fas fa-home" id="home"></i>
      </a>
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Back to top</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#cta">help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">//</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="bib.html" target="_blank">publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://ericlarg4.github.io/Portfolio/" target="_blank" rel="noopener">
              portfolio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">//</a>
          </li>
          {% include nav-dropdowns.html %}
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">A native (HDX/)-MS data treatment application dedicated to oligonucleotides<br>
              <a href="https://oligor.seis.me/">Try it online</a>
              </h1>
              <a href="https://pubs.acs.org/doi/10.1021/acs.analchem.3c01321"  class="btn btn-outline btn-xl js-scroll-trigger">
                Read the paper in Analytical Chemistry</a>
            <br><br>
            <a href="https://pubs.acs.org/doi/10.1021/jacs.3c09365" class="btn btn-outline btn-xl js-scroll-trigger">Learn about HDX/MS for G-quadruplex DNA in JACS</a>
            <br><br><br>
            <h2 class="mb-5">Process HDX/MS, titration and kinetics experiments<br>
              <a class="js-scroll-trigger" href="#features">
                View all features
              </a></h2>
            <a href="https://github.com/EricLarG4/OligoR/" class="btn btn-outline btn-xl js-scroll-trigger">See on Github</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <img src="media/oligor2.png" class="img-fluid" alt="">
          </div>
          <div class="button">
            <!-- You can hook the "home button" to some JavaScript events or just remove it -->
          </div>
        </div>
      </div>
    </div>
  </header>


  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>OligoR features</h2>
        <p class="text-muted">An R package for native (HDX-)MS, kinetics and titrations data treatment dedicated to
          <span class="gradient-text">
            oligonucleotides
          </span>
        </p>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <img src="media/oligor2.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="fab fa-r-project"></i>
                  <h3>Shiny app</h3>
                  <p class="text-muted">An interactive application running in RStudio or a web browser, to go from raw data to publication-ready figures. Availble at <a href="https://oligor.seis.me/" class="gradient-text">oligor.seis.me</a></p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="fas fa-cogs"></i>
                  <h3>Data treatment</h3>
                  <p class="text-muted">Experimental and theoretical isotopic distribution comparison, MS file import, scan combine, centroid calculation, intensity standardization, non-linear fitting, and more</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="fas fa-pencil-ruler"></i>
                  <h3>Custom figures</h3>
                  <p class="text-muted">Create custom, publication-ready figures</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="fas fa-unlock text-primary"></i>
                  <h3>Open Source</h3>
                  <p class="text-muted">Software GPL-3 licensed, open MS files (mzML, mzXML) input, export/import processed data in cross-platform formats (.csv, .xlsx), traceability (file names, scan numbers, m/z ranges). Source code on <a href="https://github.com/EricLarG4/OligoR/" class="gradient-text">GitHub</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta" id="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Get help</h2>
        <a href="https://ericlarg4.github.io/OligoR/" class="btn btn-outline btn-xl js-scroll-trigger">Readme</a>
        <br><br><br>
        <h3><span style="color:white">Learn more about oligonucleotide HDX/MS fundamentals</span></h3>
        <br>
        <a href="https://pubs.acs.org/doi/10.1021/acs.analchem.9b05298" class="btn btn-outline btn-xl js-scroll-trigger">Anal. Chem. 2020, 92, 6, 4402-4410</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

  {% include contact-section.html %}

  {% include footer.html %}

  {% include scripts-common.html %}

</body>

</html>
