          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Quadruplexes
            </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="nav-link js-scroll-trigger" href="G4_database.html">G4 database</a>
              <a class="nav-link js-scroll-trigger" href="Distill_section/docs/guideline.html" target="_blank">G4 guide</a>
             </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Applications
            </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="nav-link js-scroll-trigger" href="https://e-deuteron.shinyapps.io/meltR2/">meltR</a>
               <a class="nav-link js-scroll-trigger" href="https://e-deuteron.shinyapps.io/absorbR/">absorbR</a>
               <a class="nav-link js-scroll-trigger" href="oligor.html">oligoR</a>
               <a class="nav-link js-scroll-trigger" href="titrator.html">titrator</a>
             </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Repositories
            </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="nav-link js-scroll-trigger" href="https://github.com/EricLarG4/" target="_blank">GitHub</a>
               <a class="nav-link js-scroll-trigger" href="https://zenodo.org/record/4200176" target="_blank">Zenodo</a>
             </div>
          </li>
